.App {
  font-family: 'Roboto', sans-serif;
}
.nav{
  background-color: #000;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 1vw;
  font-size:large;
  font-weight: bold;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.a{
  text-decoration: none;
  color: #fff
}

.content{
  text-align: center
}
.site-statistic-demo-card {
  padding: 30px;
  background: #ececec;
}
  [data-theme="dark"] .site-statistic-demo-card {
    background: #303030;
  }